extends ../ods_video.pug

block EXERCISE_HEAD
    script(type='text/javascript', src='/exercise/uset/JS/lib/jsplumb.js')
    script(type='text/javascript', src='/exercise/uset/JS/Array.js')
    script(type='text/javascript', src='/exercise/uset/JS/Random.js')
    script(type='text/javascript', src='/exercise/uset/JS/Dialog/Popup.js')
    script(type='text/javascript', src='/exercise/uset/JS/Dialog/ErrorDialog.js')
    script(type='text/javascript', src='/exercise/uset/JS/Dialog/SuccessDialog.js')
    script(type='text/javascript', src='/exercise/uset/JS/Dialog/HighlightDialog.js')
    script(type='text/javascript', src='/exercise/uset/JS/Div.js')
    script(type='text/javascript', src='/exercise/uset/JS/Model/Model.js')
    script(type='text/javascript', src='/exercise/uset/JS/Model/Uset.js')
    script(type='text/javascript', src='/exercise/uset/JS/AnswerTypes/AnswerType.js')
    script(type='text/javascript', src='/exercise/uset/JS/AnswerTypes/AddAnswer.js')
    script(type='text/javascript', src='/exercise/uset/JS/AnswerTypes/FindAnswer.js')
    script(type='text/javascript', src='/exercise/uset/JS/AnswerTypes/RemoveAnswer.js')
    script(type='text/javascript', src='/exercise/uset/JS/Questions/Instructions.js')
    script(type='text/javascript', src='/exercise/uset/JS/Questions/Question.js')
    script(type='text/javascript', src='/exercise/uset/JS/Questions/Add.js')
    script(type='text/javascript', src='/exercise/uset/JS/Questions/Find.js')
    script(type='text/javascript', src='/exercise/uset/JS/Questions/Remove.js')
    script(type='text/javascript', src='/exercise/uset/JS/QuestionTypes/QuestionType.js')
    script(type='text/javascript', src='/exercise/uset/JS/QuestionTypes/Operations.js')
    script(type='text/javascript', src='/exercise/uset/JS/Defs.js')
    script(type='text/javascript', src='/exercise/uset/JS/DomDefs.js')
    script(type='text/javascript', src='/exercise/uset/JS/Exercise.js')
    script(type='text/javascript', src='/exercise/uset/JS/DOMEventHandler.js')
    script(type='text/javascript', src='/exercise/uset/JS/CustomEventHandler.js')
    script(type='text/javascript', src='/exercise/uset/JS/ElementBase.js')
    script(type='text/javascript', src='/exercise/uset/JS/Element.js')
    script(type='text/javascript', src='/exercise/uset/JS/ViewBase.js')
    script(type='text/javascript', src='/exercise/uset/JS/View.js')
    script(type='text/javascript', src='/exercise/uset/JS/Events.js')
    script(type='text/javascript', src='/exercise/uset/JS/Tabbify.js')
    script(type='text/javascript', src='/exercise/uset/JS/ChapterTabbify.js')
    script(type='text/javascript', src='/exercise/uset/JS/Control.js')
    script(type='text/javascript', src='/exercise/uset/JS/main.js')
    link(href='/exercise/uset/Views/css/Uset.css', rel='stylesheet', type='text/css')

block EXERCISE_CONTENT
    .exercise.grid(style='margin: 20px; padding: 10px;')
      strong(style='font-size:1.25em;')  Exercise
      .row
        .col-12.questionFrame
          .questionBody
            .instructionsBody(style='margin-top: 20px;')
              p  instructions
            #input_container.col-8
              input.modelEntry.bottom(type='text', placeholder='Enter value to add')
              button#button_enter
            .parametersBody(style='margin-top: 10px;')
              p  params
            .modelBody.flexCol.borderized(style='margin-top: 10px;')
              .modelMain.col-12
                img#trash.trashCan(src='exercise/uset/images/trashcan.png')
                #model.modelDisplay.col-6.round
          #messageDiv.col-8.no-visibility.center.textCentered
            input#message.col-12.bottom.border-mid(type='text', value='', readonly='')
          .questionButtons(style='margin-top: 10px;')
            // TODO rename this class
            .prevArrowDiv
              img#prevArrow.arrow(href='', src='exercise/uset/images/arrow_prev.png', onclick='return false;')
              // TODO set up event handlers and probably rename this class from arrow
            .checkAndShowDiv
              .checkAnswerButton(style='display:inline-block; border-radius: 5px; background-color: #565656; padding: 10px; color: white;')
                a#checkBtn.button(style='color:white;', href='', onclick='return false;') Check Answer
                // TODO change this
              .showAnswerButton(style='display:inline-block; border-radius: 5px; background-color: #565656; padding: 10px; color: white;')
                a#showAnswerBtn.button(style='color:white;', href='', onclick='return false;') Show Answer
                // TODO change this
            .nextArrowDiv
              img#nextArrow.arrow(href='', src='exercise/uset/images/arrow_next.png', onclick='return false;')
        #template.hidden
          //
            For now, stuff inside here is a reference to the HTML that should be used ...
            Anything here will be copied later, inside some code, to make
            new HTML elements.
            TODO made these square. Looks better imo, especially for NULL
          .element
            span.verticallyCentered
