doctype html
html
  //
    -
    TODO: Inject HTML code into <div id='exercise'> programmatically.
    Can then develop Exercise.html, keep this the same, and inject the given
    exercise into here.
  head
    title  Open Data Structures
    meta(charset='UTF-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(rel='stylesheet', type='text/css', href='ods_video_website/styles/normalize.css')
    link(rel='stylesheet', type='text/css', href='ods_video_website/styles/styles.css')
    script(src='ods_video_website/script/ChapterTabbify.js')
    script(src='ods_video_website/script/script.js')
    script(src='jquery-ui/jquery-ui.min.js')
    script(src='libs/jquery.ui.touch-punch.min.js')
    // mobile support
    link(href='/jquery-ui/jquery-ui.min.css', rel='stylesheet', type='text/css')

    // exercise stuff
    script(type='text/javascript', src='/exercise/Base/JS/lib/jsplumb.js')
    script(type='text/javascript', src='/exercise/Base/JS/Settings/Setting.js')
    script(type='text/javascript', src='/exercise/Base/JS/Settings/Animation.js')
    script(type='text/javascript', src='/exercise/Base/JS/Array.js')
    script(type='text/javascript', src='/exercise/Base/JS/Random.js')
    script(type='text/javascript', src='/exercise/Base/JS/Jsplumb/Connect.js')
    script(type='text/javascript', src='/exercise/Base/JS/Jsplumb/Draggable.js')
    script(type='text/javascript', src='/exercise/Base/JS/Jsplumb/Endpoint.js')
    script(type='text/javascript', src='/exercise/Base/JS/Jsplumb/Target.js')
    script(type='text/javascript', src='/exercise/Base/JS/Dialog/Popup.js')
    script(type='text/javascript', src='/exercise/Base/JS/Dialog/ErrorDialog.js')
    script(type='text/javascript', src='/exercise/Base/JS/Dialog/SuccessDialog.js')
    script(type='text/javascript', src='/exercise/Base/JS/Dialog/HighlightDialog.js')
    script(type='text/javascript', src='/exercise/Base/JS/Animations/ClassFadeIn.js')
    script(type='text/javascript', src='/exercise/Base/JS/Animations/FadeIn.js')
    script(type='text/javascript', src='/exercise/Base/JS/Animations/FadeOut.js')
    script(type='text/javascript', src='/exercise/Base/JS/Animations/Show.js')
    script(type='text/javascript', src='/exercise/Base/JS/Animations/Glow.js')
    script(type='text/javascript', src='/exercise/Base/JS/Animations/Traverse2.js')
    script(type='text/javascript', src='/exercise/Base/JS/Animations/Animation.js')
    script(type='text/javascript', src='/exercise/Base/JS/Div.js')
    script(type='text/javascript', src='/exercise/Base/JS/Overlay.js')
    script(type='text/javascript', src='/exercise/Base/JS/Model/Model.js')
    script(type='text/javascript', src='/exercise/Base/JS/AnswerTypes/AnswerType.js')
    script(type='text/javascript', src='/exercise/Base/JS/Questions/Instructions.js')
    script(type='text/javascript', src='/exercise/Base/JS/Questions/Question.js')
    script(type='text/javascript', src='/exercise/Base/JS/QuestionTypes/QuestionType.js')
    script(type='text/javascript', src='/exercise/Base/JS/DOMEventHandler.js')
    script(type='text/javascript', src='/exercise/Base/JS/CustomEventHandler.js')
    script(type='text/javascript', src='/exercise/Base/JS/ExerciseBase.js')
    script(type='text/javascript', src='/exercise/Base/JS/ElementBase.js')
    script(type='text/javascript', src='/exercise/Base/JS/CoreEvents.js')
    script(type='text/javascript', src='/exercise/Base/JS/ControlBase.js')
    script(type='text/javascript', src='/exercise/Base/JS/ViewBase.js')
    script(type='text/javascript', src='/exercise/Base/JS/QuestionTabbify.js')

    link(href='/exercise/Base/Views/css/Base.css', rel='stylesheet', type='text/css')
    block EXERCISE_HEAD
  body
    #total_content
      // eveything inside the page
      #heading
        // heading
        #title
          strong  Open Data Structures
        #main_menu
          a(href='')  home
          span   |
          a(href='')  about
          span   |
          a(href='')  feedback
          span   |
          a(href='')  contact
      #content
        #sidebar
          #sidebar_nav
            span  Navigation
            #sidebar_tabs
              #modules_tab
              #questions_tab
          #modules_display
            br
            div
          #questions_display
            br
            div
        #main
          #main_top
            block EXERCISE_NAME
            img#sidebar_toggle(src='ods_video_website/img/menubutton.png', onmouseover="this.src='ods_video_website/img/menubuttonhover.png';", onmouseout="this.src='ods_video_website/img/menubutton.png';")
          #video_frame
            #actual_video
          #exercise
            block EXERCISE_CONTENT
