extends ../ods_video.pug

block EXERCISE_HEAD

block EXERCISE_NAME
  | ArrayStack: Analysis

block VIDEO_FRAME
  iframe#videoFrame(src='http://' + h5pUrl + '/arraystack-ii', scrolling="no", allowfullscreen="true", webkitallowfullscreen="true", mozallowfullscreen="true")

block EXERCISE_CONTENT
