body {
  background-color: #F4F4F4;
  font-family: courier;
  font-size: 1em;
  color: #565656;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

#heading {
}

#title {
   display: inline-block;
   font-family: courier;
   width: 70px;
   font-size: 1.5em;
}

#main_menu {
  display: inline-block;
  margin-top: 5%;
  float: right;
}

#sidebar {
  width: 144px;
  height: 100vh;
  display: inline-block;
  float: left;
  -webkit-backface-visibility:hidden;
  -webkit-transform: translateZ(0);
}

.fixed {
  position: fixed;
  top: 0;
}


#sidebar_nav {
  height: 8vh;
  background-color: #8FCDB8;
  border-radius: 3px;
  padding: 1.5vh;

}

#sidebar_tabs {
}

#modules_tab, #questions_tab {
  width: 38%;
  height: 3vh;
  margin:0 auto;
  background-color: #cdf2e5;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}

#modules_tab {
  color: white;
}

#sidebar_display, #sidebar_display2 {
  height: inherit;
  background-color: #FAD60E;
  border-radius: 3px;
}

#sidebar_display2 {
  display: none;
}

#main {
  min-width: 80%;
  max-width: 80%;
  display: inline-block;
}

#main_top {
  height: 8vh;
  min-height: 5vh;
  text-align: center;
  width: inherit;
  background-color: #EF8043;
  padding-left: 10px;
  border-radius: 3px;
  -webkit-backface-visibility:hidden;
  -webkit-transform: translateZ(0);
  padding-top: 2.5vh;
}

#sidebar_toggle {
  height: 3vh;
  float: left;
  font-size: 0.5em;
  cursor: pointer;
}

#video_frame {
  padding-bottom: 20px;
}

#actual_video {
  max-width: 95%;
  background-color: grey;
  margin: 0 auto;
  margin-bottom: 20px:
}

#exercise {
  height: 40vh;
}
