rem = 1em;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 960px;
}

body {
  background-color: #F4F4F4;
  color: #565656;
  font-size: 1rem;
  font-family: courier;
}

ul {
  margin: 0;
  padding: 10px;
  list-style: none;
}

a {
  color: #565656 !important;
  text-decoration: none;
}

#total_content {
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
  margin-top: 10px;
}

#heading {
  color: #565656;
  margin-top: 20px;
  width: 100%;
  position: relative;
}

#title {
   width: 70px;
   font-size: 1.5rem;
   font-family: courier;
   display: inline-block;
}

#main_menu {
  font-family: inherit;
  margin-top: 5%;
  display: inline-block;
  position: absolute;
  right: 46px;
}

#content {
  margin-top: 20px;
}

#sidebar {
  color: #565656;
  width: 144px;
  height: 80vh;
  display: inline-block;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

#sidebar_nav {
  background-color: #8FCDB8;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  height: 70px;
  padding: 10px;
  white-space: nowrap;
}

#sidebar_tabs {
  font-size: 0.25rem;
  text-align: center;
  width: 95%;
  height: 50px;
  margin: 0 auto;
}

#modules_tab, #questions_tab {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 25px;
  height: 25px;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
}

#modules_tab {
  background-image: url("../img/chapters.png");
}

#questions_tab {
  background-image: url("../img/questionmark.png");
}

#modules_display, #questions_display {
  background-color: #FAD60E;
  border-radius: 5px;
  height: inherit;
  margin-top: 2px;
}

#questions_display {
  display: none;
}

#main {
  min-width: 80%;
  max-width: 80%;
  display: inline-block;
}

#main_top {
  background-color: #EF8043;
  color: #565656;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  width: inherit;
  height: 70px;
  min-height: 70px;
  margin-left: 2px;
  padding-top: 20px;
  padding-left: 20px;
  z-index: 1;
}

#sidebar_toggle {
  height: 30px;
  margin-top: 10px;
  display: table-cell;
  vertical-align: middle;
  float: left;
  cursor: pointer;
}

#video_frame {
  padding-top: 20px;
}

#actual_video {
  background-color: grey;
  max-width: 95%;
  margin: 0 auto;
}

	#videoFrame{
		height: 100%;
		width: 100%;
	}

#exerciseFrame{
  width: 100%;
  border: none;
}

#exercise {
  color: #565656;
  margin-top: 20px;
}

.widen_main {
  min-width: 100%;
}

.drop {
  cursor: pointer;
}

.fixed {
  position: fixed;
  top: 0;
}

.modules_click {
  background-image: url("../img/chapters2.png") !important;
}

.modules_hover {
  background-image: url("../img/chapters2.png") !important;
}

.questions_click {
  background-image: url("../img/questionmark2.png") !important;
}

.questions_hover {
  background-image: url("../img/questionmark2.png") !important;
}

.chapter-heading.text-mid{
  font-size: 14px !important;
}
