<html>
  <head>
    <script type="text/javascript" src="/exercise/new-template/JS/lib/jsplumb.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Array.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Random.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Dialog/Popup.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Dialog/ErrorDialog.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Dialog/SuccessDialog.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Dialog/HighlightDialog.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Div.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Model/Model.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Model/Uset.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/AnswerTypes/AnswerType.js"></script>
    <script type="text/javascript" src="/exercise/new-template/JS/AnswerTypes/AddAnswer.js"></script>
    <script type="text/javascript" src="/exercise/new-template/JS/AnswerTypes/FindAnswer.js"></script>
    <script type="text/javascript" src="/exercise/new-template/JS/AnswerTypes/RemoveAnswer.js"></script>
    <script type="text/javascript" src="/exercise/new-template/JS/Questions/Instructions.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Questions/Question.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Questions/Add.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Questions/Find.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Questions/Remove.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/QuestionTypes/QuestionType.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/QuestionTypes/Operations.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Defs.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/DomDefs.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Exercise.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/DOMEventHandler.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/CustomEventHandler.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/ElementBase.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Element.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/ViewBase.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/View.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Events.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Tabbify.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/ChapterTabbify.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/Control.js"> </script>
    <script type="text/javascript" src="/exercise/new-template/JS/main.js"> </script>

    <link href="/exercise/new-template/Views/css/Template.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="exercise grid" style="margin: 20px; padding: 10px;"> <strong style="font-size:1.25em;"> Exercise </strong>
      <div class="row">
        <div class="col-12 questionFrame">
          <div class="questionBody">

            <div class="instructionsBody" style="margin-top: 20px;">
              <p> instructions </p>
            </div>

            <div id="input_container" class="col-8">
              <input type="text" class="modelEntry bottom" placeholder="Enter value to add"></input>
              <button id="button_enter"></button>
            </div>

            <div class="parametersBody" style="margin-top: 10px;">
              <p> params </p>
            </div>

            <div class="modelBody flexCol borderized" style="margin-top: 10px;">
              <div class="modelMain col-12 ">
                <img id="trash" src="exercise/new-template/images/trashcan.png" class="trashCan"></img>
                <div id="model" class="modelDisplay col-6 round"></div>
              </div>
            </div>
          </div>

          <div id="messageDiv" class="col-8 no-visibility center textCentered">
            <input id="message" type="text" class="col-12 bottom border-mid" value="" readonly="">
          </div>

          <div class="questionButtons" style="margin-top: 10px;"> <!-- TODO rename this class -->
            <div class="prevArrowDiv">
              <img id="prevArrow" class="arrow" href="" src="exercise/new-template/images/arrow_prev.png" onclick="return false;"></img> <!-- TODO set up event handlers and probably rename this class from arrow-->
            </div>
            <div class="checkAndShowDiv">
              <div class="checkAnswerButton"  style="display:inline-block; border-radius: 5px; background-color: #565656; padding: 10px; color: white;">
                <a id="checkBtn" style="color:white;" class="button" href="" onclick="return false;">Check Answer</a> <!-- TODO change this -->
              </div>
              <div class="showAnswerButton"  style="display:inline-block; border-radius: 5px; background-color: #565656; padding: 10px; color: white;">
                <a id="showAnswerBtn" style="color:white;" class="button" href="" onclick="return false;">Show Answer</a> <!-- TODO change this -->
              </div>
            </div>
            <div class="nextArrowDiv">
              <img id="nextArrow" class="arrow" href="" src="exercise/new-template/images/arrow_next.png" onclick="return false;"></img>
            </div>
          </div>

        </div>


        <div id="template" class="hidden">
          <!-- For now, stuff inside here is a reference to the HTML that should be used ...
                  Anything here will be copied later, inside some code, to make
                  new HTML elements.

                TODO made these square. Looks better imo, especially for NULL
          -->
          <div class="element">
            <span class="verticallyCentered">
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
