/* element ... TODO: should show as clickable, draggable. style? */
.element{
  display: inline-block;
}
.element.main {
  background-color: #565656;
  border: 3px solid #565656;
  color: white;

  border-radius: 5px;

  cursor: -webkit-grab;
  line-height: 30px;  /* needs this for vertically centered text */

  position: relative;
}
.element.main{
  width: 77px;
  height: 35px;
}
.element.value{
  width: 35px;
  height: 100%;
  border-right: 1px dotted #676767;
  display: inline-block;
}
.element.pointer{
  width: 35px;
  height: 100%;
}

.element:hover{
  background-color: white;
  color: #565656;
}

.element.main:active {
  background-color: white;
  color: #565656;
  box-shadow: 1px 1px 1px 1px #aaa;
  cursor: -webkit-grabbing;
}


.jsp-endpoint circle {
  fill: white;
}
.jsp-hover circle {
  fill: #565656;
}

.bold{
  font-weight: bold;
}
.courier{
  font-family: courier;
}
.text-centered{
  text-align: center;
}
