<!DOCTYPE html>

<meta charset="UTF-8">

<html lang="en">

<head>
  <meta charset="UTF-8">
  <script type="text/javscript" src="../JS/lib/jquery-3.2.1.js"> </script>
  <script type="text/javscript" src="../JS/lib/jsplumb.js"> </script>
  <script type="text/javscript" src="../JS/Random.js"> </script>
  <script type="text/javscript" src="../JS/"> </script>
  <script type="text/javscript" src="../JS/Model/Model.js"> </script>
  <script type="text/javscript" src="../JS/Model/Uset.js"> </script>
  <script type="text/javscript" src="../JS/Questions/Answer.js"> </script>
  <script type="text/javscript" src="../JS/Questions/Instructions.js"> </script>
  <script type="text/javscript" src="../JS/Questions/Question.js"> </script>
  <script type="text/javscript" src="../JS/Questions/Add.js"> </script>
  <script type="text/javscript" src="../JS/Questions/Find.js"> </script>
  <script type="text/javscript" src="../JS/Questions/Remove.js"> </script>
  <script type="text/javscript" src="../JS/QuestionTypes/QuestionType.js"> </script>
  <script type="text/javscript" src="../JS/QuestionTypes/Operations.js"> </script>
  <script type="text/javscript" src="../JS/Defs.js"> </script>
  <script type="text/javscript" src="../JS/Exercise.js"> </script>
  <script type="text/javscript" src="../JS/DOMEventHandler.js"> </script>
  <script type="text/javscript" src="../JS/CustomEventHandler.js"> </script>
  <script type="text/javscript" src="../JS/Control.js"> </script>

  <title> MY TITLE </title>
</head>

<body>

Hello World

</body>

</html>
