/* framework stylesheet for 1/12 - 12/12 column width
and row width = pagewidth.
note that 1/12 = 8.33333 %

https://storage.googleapis.com/supplemental_media/udacityu/2872198569/mock3-portfolio-1.pdf
*/
rem = 1em;

li.tabbedQuestion:hover {
  color: silver;
}

.overlay {
    background-color: rgba(1, 1, 1, 0);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}
.questionFrame{
  position: relative;
}

.text-highlight{
  color: #ccc;
}

#message {
  background-color: #F4F4F4;
  color: #565656;
  border: none;
  font-weight: bold;
  text-align: center;
}

#input_container {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

#button_enter {
  background-image: url("../../images/insert.png");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  border: 0;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  outline: none;
}
#button_enter.disabled{
  background-image: url("../../images/insert_disabled.png");
}

#button_enter:hover {
  background-image: url("../../images/insert2.png");
}

#prevArrow, #nextArrow {
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

#prevArrow {
  background-image: url("../../images/arrow_prev.png");
}

#nextArrow {
  background-image: url("../../images/arrow_next.png");
}

#prevArrow:hover {
  background-image: url("../../images/arrow_prev2.png");
}

#nextArrow:hover {
  background-image: url("../../images/arrow_next2.png");
}

/* additional styling that's probably useful */
.borderized {
  margin-top:20px;
}

.border-light {
  border: 1px solid darkgray;
}

.border-mid {
  border: 3px solid darkgray;
}

.border-strong {
  border: 5px solid darkgray;
}

.border-colour-error, .border-color-error {
  color: red;
}

.border-colour-highlight, .border-color-highlight {
  border-color: #e6ac00;
}

.border-colour-success, .border-color-success {
  color: #1fa000;
}

.hidden {
  display: none;
}

.no-visibility {
  visibility: hidden;
}

.flexCol {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.bottom {
  margin-top: auto;
}

.left {
  display: inline-block;
  float: left;
}

.right {
  display: inline-block;
  float: right;
}

.center{
  margin: 0 auto;
}

.textCentered{
  text-align: center;
}

.verticallyCentered {
  vertical-align: middle;
  line-height: normal;
}

.element.active, .active {
  background-color: #ff8401; /* TODO Removed !important from this, check for bugs */
  color: #565656 !important;
}

.active-tab {
  font-weight: bold;
}

.round { /* aka circular ... but then there's ovals. so its round */
  border-radius: 50%;
}

/* element styling */
.modelDisplay {
  border: 5px solid #565656;
  min-width: 50%;
  height: 90%;
  margin: auto;
  margin-top: 20px;
}

/* using on the model body. defines the main div */
.modelBody {
  width: 95%;
  min-height: 300px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.modelMain{
  height: -moz-calc(100% - 30px); /* Firefox */
  height: -webkit-calc(100% - 30px);  /* WebKit */
  height: -o-calc(100% - 30px);  /* Opera */
  height: calc(100% - 30px);  /* Standard */
}

.modelEntry{
  border: 0;
  text-align: center;
  width: 100%;
  min-height: 25px;
}

::placeholder {
  text-align: center;
  opacity: 0.5;
}

#animationSpan{
  position: relative;
  color: #999;
  z-index: 99;
}


/* We've been trying too hard... why do we do that? Why do I do that? Why do I do that. */

/* trash can ........ should be a small image, top right corner */
.trashCan {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-top: 15px;
  float: right;
}

/* animation speed .... controls the speed for animations  */
.animationDuration {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 5px;
  left: 15px;
}

/* TODO MAKE THESE IMAGES */
.animationDuration{
  background-repeat: no-repeat;
  background-size: 65px 65px;
}
.animationDuration.anim0 {
  background-image: url("../../images/slow_speed.png");
}
.animationDuration.anim1 {
  background-image: url("../../images/normal_speed.png");
}
.animationDuration.anim2 {
  background-image: url("../../images/fast_speed.png");
}
.animationDuration.anim0:hover {
  background-image: url("../../images/slow_speed_hover.png");
}
.animationDuration.anim1:hover {
  background-image: url("../../images/normal_speed_hover.png");
}
.animationDuration.anim2:hover {
  background-image: url("../../images/fast_speed_hover.png");
}


.jtk-connector path{
  stroke: #565656;
  stroke-width: 2;
}

#animationDiv{
  background-image: url("../../images/animation_bolt.png");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
}

/* accordion - remove the borders on headers */
.ui-accordion-header, .accordionHeader{
  background: none !important;
  color: #565656 !important;
  border: 0px !important;
  font-family: courier;
  font-size: 1rem !important;
  margin: 0 !important;
  margin-left: 20px !important;
  padding-left: 0px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  cursor: pointer;
  outline: none;
}

.ui-accordion-header-icon{
  background: none !important;
  background-image: none !important;
  width: 0 !important;
}

.accordion-sub{
  background: none !important;
  color: #565656 !important;
  border: 0 !important;
  width: 100% !important;
  height: contents !important;
  margin-left: 2% !important;
  padding-top: 5px !important;
  padding-bottom: 10px !important;
  padding-left: 20px !important;
}

.ui-accordion-content {
  font-family: courier;
  font-size: 0.8em !important;
  margin-top: 0em !important;
  padding-top: 0em !important;
}

.question-tab{
  text-align: left;
  margin: 2px;
  cursor: pointer;

}

.question-tab:hover {
  font-weight: bold;
}

.questionButtons {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.questionButtons * {
  margin: 0 auto;
}

.checkAndShowDiv {
  margin: 0px;
}

.button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.parametersBody {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.showAnswerButton, .checkAnswerButton, .redoQuestionButton{
  background-color: #565656;
  color: white;
  border: 3px solid #565656;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  margin: 2px;
}

.showAnswerButton:hover, .checkAnswerButton:hover, .redoQuestionButton:hover {
  background-color: white;
  color: #565656;
}

/* jquery ui stuff */
.ui-error-dialog {
  background-color: #b00 !important;
}


/*add some margin and/or padding to rows cols as needed as absolute px*/

/*
NORMALIZE CSS: LINK IN HEAD
https://github.com/necolas/normalize.css/

use npm preferably?
*/

/* overflow if necessary */

/*
do media queries for responsive design:
@media only screen and (max-width: 500px) {

}
*/

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50.00%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
